.image-style {
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

body{
	background-color: #80B9AD;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.panel {
    background-color: #6295A2;
    border: 5px solid #538392;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* 
	Color Palette:
	#538392
	#6295A2
	#80B9AD
	#B3E2A7
*/